{% extends 'base.html' %} {% block title %}{% endblock %} {% block content %}
<head>
  <!-- Import Vega & Vega-Lite (does not have to be from CDN) -->
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
  <!-- Import vega-embed -->
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>

<div class="container">
  <h1>Search by keyword from 1950 - 2022</h1>
  <form method="POST" class="w-100">
    <div class="row">
      <div class="col-md-10 input-icons">
        <i class="fa fa-search icon"></i>
        <input
          name="text"
          type="text"
          class="searchbar input-field"
          placeholder="Enter a historical disaster or disaster incident type(s), like 'covid', 'hurricane katrina', or 'hurricane|fire'"
          ,
          value="{{input}}"
          required
        />
      </div>
      <div class="col-md-2 hidden">
        <input type="submit" />
      </div>
    </div>
  </form>
  {% if input is not none %}
  <h3>{{ input }}</h3>
  {% endif %}
</div>

{% if input is not none %}
<div id="vis"></div>
<script type="text/javascript">
  var spec = {{chart_json | safe }};
  vegaEmbed('#vis', spec).then(function(result) {
    // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
  }).catch(console.error);
</script>
{% endif %}

<div class="container">
  <i>
    <h5>Notes about Search Results</h5>
    <h6>
      <li>
        FEMA disaster declarations may not always occur in the state that the
        disaster physically took place in.
      </li>
    </h6>
    <h6>
      <li>
        FEMA distributes money to other regions/states in order to provide
        states with the monetary resources to aid people from affected states.
        This is why you may see states which aren't physically affected by the
        disaster receiving money from FEMA. You are looking at the
        <strong>flow of money from FEMA to states</strong>.
      </li>
    </h6>
    <h5>
      Search Tips
    </h5>
    <h6>
      <i class="fa fa-lightbulb-o" style="color: #fcd12a;"></i>
      &nbsp&nbspSearch by terms in this full list of disaster incident types:
      'Biological', 'Chemical', 'Coastal Storm', 'Dam/Levee Break', 'Drought',
      'Earthquake', 'Fire', 'Fishing Losses', 'Flood', 'Freezing', 'Human
      Cause', 'Hurricane', 'Mud/Landslide', 'Other', 'Severe Ice Storm', 'Severe
      Storm(s)', 'Snow', 'Terrorist', 'Tornado', 'Toxic Substances', 'Tsunami',
      'Typhoon', 'Volcano'.
    </h6>
    <h6>
      <i class="fa fa-lightbulb-o" style="color: #fcd12a;"></i>
      &nbsp&nbspCheck out
      <a href="https://www.fema.gov/disaster/historic"
        >FEMA's Historic Disasters</a
      >
      for more historical disasters to search by.
    </h6>
    <h6>
      <i class="fa fa-lightbulb-o" style="color: #fcd12a;"></i>
      &nbsp&nbspExample Queries:
      <a
        href="https://apps-fall22.ischool.berkeley.edu/~justinryanwong/w209/viz/search?width=1090&height=950&q=hurricane"
        >hurricane</a
      >,
      <a
        href="https://apps-fall22.ischool.berkeley.edu/~justinryanwong/w209/viz/search?width=1090&height=950&q=Severe Ice Storm"
        >Severe Ice Storm</a
      >,
      <a
        href="https://apps-fall22.ischool.berkeley.edu/~justinryanwong/w209/viz/search?width=1090&height=950&q=covid-19"
        >covid-19</a
      >, and
      <a
        href="https://apps-fall22.ischool.berkeley.edu/~justinryanwong/w209/viz/search?width=1090&height=950&q=Biological|Fire"
        >Biological|Fire</a
      >
    </h6>
  </i>
</div>
{% endblock %}
