{% extends 'base.html' %} {% block title %}{% endblock %} {% block content %}
<head>
  <!-- Import Vega & Vega-Lite (does not have to be from CDN) -->
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
  <!-- Import vega-embed -->
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>

<div class="container">
  <h1>Search by keyword from 1950 - 2022</h1>
  <form method="POST" class="w-100">
    <div class="row">
      <div class="col-md-10 input-icons">
        <i class="fa fa-search icon"></i>
        <input
          name="text"
          type="text"
          class="searchbar input-field"
          placeholder="Enter a historical disaster or disaster type(s), like 'covid', 'hurricane katrina', or 'hurricane|fire'"
          ,
          value="{{input}}"
          required
        />
      </div>
      <div class="col-md-2 hidden">
        <input type="submit" />
      </div>
    </div>
  </form>
  {% if input is not none %}
  <h3>{{ input }}</h3>
  <i>
    <h5>Notes about Search Results</h5>
    <h6>
      * FEMA disaster declarations may not always occur in the state that the
      disaster physically took place in.
    </h6>
    <h6>
      * FEMA distributes money to other regions/states in order to provide
      states with the monetary resources to aid people from affected states.
      This is why you may see states which aren't physically affected by the
      disaster receiving money from FEMA. You are looking at the
      <strong>flow of money from FEMA to states</strong>.
    </h6>
    <h6>
      * See
      <a
        href="https://apps-fall22.ischool.berkeley.edu/~justinryanwong/w209/#deepdive"
        >Diving into Disasters and Temperature</a
      >
      for the full list of disaster types.
    </h6>
  </i>
  {% endif %}
</div>

{% if input is not none %}
<div id="vis"></div>
<script type="text/javascript">
  var spec = {{chart_json | safe }};
  vegaEmbed('#vis', spec).then(function(result) {
    // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
  }).catch(console.error);
</script>
{% endif %} {% endblock %}
